<!DOCTYPE html>
{% load static %} 
<html>
		<head>
				<title>CODENAMES</title>
				<link rel="stylesheet" href="{% static "styles.css" %}">
				<meta name="google-site-verification" content="wDwnspAcf-LH6zITI3wdLq2ueU3QIlK9Xo-Z2W452L4" />
		</head>
		<body>
			<h1>Welcome to CODENAMES Online</h1>
			<h2>Past games</h1>
			<ul>
				{% for board in boards %}
						<li>{{ board.name }} {{ board.status|slice:"12:" }}
							<a href="gameplay/{{ board.id }}/blue_master/">Blue Master</a>
							<a href="gameplay/{{ board.id }}/blue_agent/">Blue Agent</a>
							<a href="gameplay/{{ board.id }}/red_master/">Red Master</a>
							<a href="gameplay/{{ board.id }}/red_agent/">Red Agent</a>
							<a href="gameplay/{{ board.id }}/delete/">Delete</a>
						</li>
				{% endfor %}
			</ul>

			{% if messages %}
					<script>
						{% for message in messages %}
							alert("{{ message }}");
						{% endfor %}
					</script>
			{% endif %}

			<a method="post" href="/gameplay/create_board">Start a new game</a><br />
		</body>
</html>
